Graph/Graph.UI/Service References/GraphInitService/GraphInitService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60838/GraphInitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Graph.Services.DataContract" />
  <xs:element name="GetUndirectedGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUndirectedGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Graph.Services.DataContract" minOccurs="0" name="GetUndirectedGraphResult" nillable="true" type="q1:ArrayOfNodeDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectedGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectedGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Graph.Services.DataContract" minOccurs="0" name="GetDirectedGraphResult" nillable="true" type="q2:ArrayOfNodeDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>