Graph/Graph.UI/Service References/GraphInitService/GraphInitService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Graph.Services.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Graph.Services.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60838/GraphInitService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfNodeDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeDC" nillable="true" type="tns:NodeDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeDC" nillable="true" type="tns:ArrayOfNodeDC" />
  <xs:complexType name="NodeDC">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdjacentIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeDC" nillable="true" type="tns:NodeDC" />
</xs:schema>